<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Pure Menu</title>
<link rel="stylesheet" href="../style/a.css">
</head>
<body>

<div class="container">
    <div class="header">Pure</div>
    <div class="menu">
        <a href="user.html" class="button-link"><button>ユーザー</button></a>
        <a href="next-page.html" class="button-link"><button>広告</button></a>
        <a href="next-page.html" class="button-link"><button>コーディネート</button></a>
        <a href="next-page.html" class="button-link"><button>ランキング</button></a>
        <a href="next-page.html" class="button-link"><button>商品管理</button></a>
        <a href="next-page.html" class="button-link"><button>購入通知</button></a>
        <a href="next-page.html" class="button-link"><button>商品追加</button></a>
    </div>
</div>

</body>
</html>
