<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pure Layout</title>
    <link rel="stylesheet" href="../style/home.css">
</head>
<body>

    <header class="header">
        <h1>Pure</h1>
    </header>

    <nav class="nav">
        <a href="user.html" class="button-link"><button class="button">ユーザー</button></a>
        <a href="koukoku1.html" class="button-link"><button class="button">広告</button></a>
        <a href="koudexi1.html" class="button-link"><button class="button">コーディネート</button></a>
        <a href="rank.html" class="button-link"><button class="button">ランキング</button></a>
        <a href="shohin1.html" class="button-link"><button class="button">商品管理</button></a>
        <a href="tuti.html" class="button-link"><button class="button">購入通知</button></a>
        <a href="zaiko.html" class="button-link"><button class="button">商品追加</button></a>
    </nav>
</body>
</html>
