<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>週間売り上げランキング</title>
  <link rel="stylesheet" href="../style/rank.css">
</head>
<body>
  <div class="container">
    <header>
      <h1>Pure</h1>
    </header>
    <main>
      <h2>週間売り上げランキング</h2>
      <p class="date">更新日 2024/09/30</p>
      <ol class="ranking-list">
        <li>
          <div class="rank-content gold">
            <div class="rank-number">1位</div>
            <div class="rank-image">NO IMAGE</div>
            <div class="rank-details">
              <p class="rank-title">SERACE スウェット</p>
              <p class="rank-price">¥ 5,940</p>
              <p class="rank-sales">売上数600</p>
            </div>
          </div>
        </li>
        <li>
          <div class="rank-content silver">
            <div class="rank-number">2位</div>
            <div class="rank-image">NO IMAGE</div>
            <div class="rank-details">
              <p class="rank-title">GRANCY カーディガン/ボレロ</p>
              <p class="rank-price">¥ 16,500</p>
              <p class="rank-sales">売上数550</p>
            </div>
          </div>
        </li>
        <li>
          <div class="rank-content bronze">
            <div class="rank-number">3位</div>
            <div class="rank-image">NO IMAGE</div>
            <div class="rank-details">
              <p class="rank-title">WYT LIDNM カーゴパンツ</p>
              <p class="rank-price">¥ 6,930</p>
              <p class="rank-sales">売上数498</p>
            </div>
          </div>
        </li>
        <li>
          <div class="rank-content">
            <div class="rank-number">4位</div>
            <div class="rank-image">NO IMAGE</div>
            <div class="rank-details">
              <p class="rank-title">apres jour mignon バルーンブルゾン</p>
              <p class="rank-price">¥ 5,995</p>
              <p class="rank-sales">売上数461</p>
            </div>
          </div>
        </li>
        <li>
          <div class="rank-content">
            <div class="rank-number">5位</div>
            <div class="rank-image">NO IMAGE</div>
            <div class="rank-details">
              <p class="rank-title">nemne store デニムパンツ</p>
              <p class="rank-price">¥ 4,995</p>
              <p class="rank-sales">売上数410</p>
            </div>
          </div>
        </li>
      </ol>
    </main>
    <form type="submit" action="home.html" value="post">
        <button class="back-button">←</button>
    </form>
  </div>
</body>
</html>
