<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>全画面ユーザーリスト</title>
  <link rel="stylesheet" href="../style/user.css">
</head>
<body>
  <div class="user-list-container">
    <div class="header">
      <h1>ユーザーリスト</h1>
    </div>
    <table class="user-table">
      <thead>
        <tr>
          <th>名前</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>麻生太郎</td>
            <td>aso@s.asojohou.ac.jp</td>
            <td><a href="usersyousai.html" class="button-link"><button class="button"></button></td></a>
          </tr>
        <tr>
          <td>田中 太郎</td>
          <td>tanaka@misaki.ac.jp</td>
          <td><button class="button"></button></td>
        </tr>
        <tr>
          <td>山田 花子</td>
          <td>yamada@hiro.ac.jp</td>
          <td><button class="button"></button></td>
        </tr>
        <tr>
          <td>佐藤 次郎</td>
          <td>satou@s.takeru.ac.jp</td>
          <td><button class=" button"></button></td>
        </tr>
        <tr>
            <td class="name">山田弘</td>
            <td>yamada@hiro.ne.jp</td>
            <td><button class=" button"></button></td>
        </tr>
        <tr>
            <td class="name">藤田由紀</td>
            <td>hujita@docomo.ne.jp</td>
            <td><button class="button"></button></td>
        </tr>
        <tr>
            <td class="name">森山拓海</td>
            <td>moriyama@s.takumi.ne.jp</td>
            <td><button class="button"></button></td>
        </tr>
        <tr>
            <td class="name">甲斐田翔</td>
            <td>kaida@docomo.ne.jp</td>
            <td><button class="button"></button></td>
        </tr>
        <tr>
            <td class="name">井上空</td>
            <td>inoue@s.asojuku.ne.jp</td>
            <td><button class="button"></button></td>
        </tr>
        <tr>
            <td class="name">松崎茂</td>
            <td>matuzaki@sige.ne.jp</td>
            <td><button class="button"></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
