<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ユーザープロフィール</title>
  <link rel="stylesheet" href="../style/usersyousai.css">
</head>
<body>

  <!-- ヘッダー -->
  <header class="header">
    <h1>Pure</h1>
  </header>

  <!-- メインコンテンツ -->
   <br><br><br>
    <h2>プロフィール</h2>
    
    <div class="profile-item">
      <span>名前:</span> 麻生 太郎 様
    </div>
    <div class="profile-item">
      <span>性別:</span> 男性
    </div>
    <div class="profile-item">
      <span>住所:</span> 福岡県福岡市博多区博多駅南2丁目12-32
    </div>
    <div class="profile-item">
      <span>生年月日:</span> 2024年1月11日
    </div>
    <div class="profile-item">
      <p>メールアドレス: aso@s.asojoho.ac.jp</p>
    </div>
    <div class="profile-item">
      <span>郵便番号:<br></span> 〒1234-5678
    </div>
    <div class="profile-item">
      <div>パスワード: 　　**********
    </div>

    <div class="buttons">
        <a href="user.html" class="button-link"><button class="button back-button">戻る</button></a>
      <button class="button logout-button">退会</button>
    </a>
</a>

</body>
</html>
