<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/test.css">
    <title>テストだよ～</title>
</head>
<body>
    <div class="header">TEST</div>
    <div class="section-title">会員情報</div>
    <div class="section-title">その他</div>
    <form action="./お気に入り.html">
        <button type="submit">お気に入り</button>
    </form>
    <form action="./マイページ.html">
        <button type="submit">マイページ</button>
    </form>
</body>
</html>